.header-post{
  opacity: 1;
}

.wrapper-post{
  padding-top: 1em;
}

.header-empty{
  height:80px;
}

.img-120{
  width:120%;
  margin-left:-10%;
  max-width:initial;
  // border-radius: 16px;
  box-shadow: 0 0 44px rgba($color: #000000, $alpha: 0.1);
  @media only screen and (max-width: 1278px) {
    margin-left:0;
    width:100%;
    max-width:initial;
  }
}

.medium-zoom-image--opened{
  z-index: 100;
  margin: 0!important;
}

.medium-zoom-overlay{
  z-index: 90;
}


.img-50{
  width:50%;
  margin-left:25%;
  max-width:initial;
  @media only screen and (max-width: 1278px) {
    margin-left:20%;
    width:60%;
    max-width:initial;
  }
}




.post-caption {
  font-size: 20px;
  color: $grey150;
  text-align: center;
  padding-bottom: 2em;
}

.mb {
  margin-bottom: 2em;
}

.mt {
  margin-top: 2em;
}

.metadata {
  font-size: 16px;
  color: $grey150;
  padding-bottom: 2em;
}