.footer{
  padding:100px 0;
  text-align: center;
}

.footer-copyright{
  font-weight: 500;
  font-size: 14px;
  color:$grey150;
}

.social-links{
  padding:0 0 32px 32px;
  display: flex;
  align-items: center;
  a{
    margin-right: 33px;
  }
}