.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0;
    background: #fff;
    transition: opacity 1.5s ease, box-shadow $durationShort ease;
    .header-center{
      max-width: 860px;
      padding:0 20px;
      margin:0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height:64px;
    }
  a{
    text-decoration: none;
  }
}

.header-loaded {
    opacity: 1;
}

.header-loaded-instant {
   opacity: 1;
   transition: opacity 0s, box-shadow 0s;
   box-shadow: $shadow;

}

.header-scrolled {
   box-shadow: $shadow;
}

.header-nav {
    white-space: nowrap;
    display: flex;
    align-items: center;
   > a {
     color:$grey400;
     font-weight: 400;
     font-size:20px;
     margin-left:36px;
   }
}

.logo{
  color:$grey400;
  font-weight: 600;
  font-size:20px;
}
