---
---
<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        {% include header-post.html %}
        <!-- {% if page.heroMedia contains ".mp4" %}
            <video id="post-hero" src="{{ page.heroMedia }}" autoplay="true" loop="true"></video>
        {% else %}
            <img id="post-hero" src="{{ page.heroMedia }}" />
        {% endif %} -->
        <div class="wrapper wrapper-post">
            <section class="story">
            
               <!-- <span class="tile-work-description-company">{{ page.company}}</span> -->
                <h1 class="story-title">{{ page.title }}</h1>
                    <p class="metadata">{{ page.company}} • {{ page.date | date: "%b %-d, %Y"}}</p>
                <!-- <section class="story-section">
                    <h3 class="story-section-label">Date</h3>
                    <p class="story-section-paragraph">{{ page.shippedDate }}</p>
                </section>
                <section class="story-section">
                    <h3 class="story-section-label">Overview</h3>
                    {% for paragraph in page.overview %}
                        <p class="story-section-paragraph">{{ paragraph | textilize }}</p>
                    {% endfor %}
                </section>
                {% if page.outcome %}
                <section class="story-section">
                    <h3 class="story-section-label">Outcome</h3>
                    {% for paragraph in page.outcome %}
                        <p class="story-section-paragraph">{{ paragraph | textilize }}</p>
                    {% endfor %}
                </section>
                {% else %}
                {% endif %}
                <section class="story-section">
                    <h3 class="story-section-label">Tools</h3>
                    {% for paragraph in page.tools %}
                        <p class="story-section-paragraph">{{ paragraph | textilize }}</p>
                    {% endfor %}
                </section>
            </section> -->
            <section>
                <!-- <h3>{{ page.title }} Visuals</h3> -->
                {{ content }}
                
            </section>
            {% include footer.html %}
        </div>
        {% include scripts.html %}
    </body>
</html>
