* {
    margin: 0;
    padding: 0;
}

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  height: 100%;
  overflow: auto;
  transition: all $durationLong ease;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

html {
  font-size:24px;
  color: $grey400;
}

button {
  border: none;
  background-color: transparent;
}

button:focus {
  outline: none;
}

p{
  margin-bottom:1em;
  line-height: 1.6em;
}

p a {
  color: $indigo;
}

a {
  color: $black;
}

li {
  list-style: inside;
}

.wrapper {
  max-width: 860px;
  margin: 0 auto;
  padding: 0 20px;
}

h1,h2,h3,h4{
  color:$grey400;
}

h5,h6{
  color:$grey150;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 700;
}

h1{
  font-size:48px;
}

h2{
  font-size:36px;
  padding-top: 1em;
  padding-bottom: 0.4em;
}

h3{
  font-size:28px;
}

h4{
  font-size:24px;
}

h5{
  font-size:20px;
}

h6{
  font-size:16px;
}

mark{
  background: $yellow;
}

table{
  width: 100%;
  border-spacing: 0;
  border-radius: 4px;
  border:1px solid $grey100;
  th{
    background: #f2f2f5;
    font-weight: 600;
    &:first-child{
      border-radius:4px 0 0 0;
    }
    &:last-child{
      border-radius:0 4px 0 0;
    }
  }
  tr:last-child td{
    &:first-child{
      border-radius: 0 0 0 4px;
    }
    &:last-child{
      border-radius:0 0 4px 0;
    }
  }
  td,
  th{
    border:1px solid $grey100;
    padding:16px;
    
  }
}

blockquote{
  border-left:8px solid $grey100;
  padding-left:22px;
  p{
    color:$grey150;
  }
}

hr{
  background: $grey100;
  height: 2px;
  border: none;
}

img{
  max-width:100%;
}

ul{
margin-top: 1em;
margin-bottom: 1em;
}

li{
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 2em;
  margin-bottom: 1em;
}